<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddmeng.customtransitionsample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityTransitionHomePage"
            android:label="@string/activity_transition_demos" />
        <activity
            android:name=".activity.SharedElementActivityOne"
            android:label="@string/activity_transition_shared_elements" />
        <activity
            android:name=".activity.SharedElementActivityTwo"
            android:label="@string/activity_transition_shared_elements" />
        <activity android:name=".activity.SharedElementChangeBoundsActivityOne" />
        <activity android:name=".activity.SharedElementChangeBoundsActivityTwo" />
        <activity
            android:name=".activity.ExplodeActivityOne"
            android:theme="@style/ExplodeTheme" />
        <activity
            android:name=".activity.ExplodeActivityTwo"
            android:theme="@style/ExplodeTheme" />
    </application>

</manifest>
